@media  screen and (max-width: 780px) {
    .infomation{
       display: flex;
       flex-direction: column;
        width: 100%;
        padding-top: 15px;
        padding-bottom: 15px;
        }
        .groupeParag{
            margin-left: 0;
        }
        .icone{
            position: absolute;
            right: 30px;
        }
        .numero{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .rond{
            display: flex;
            align-items: center;
           justify-content: center;
            margin-top: 225px;
          
        } 
        .all{
            display: flex;
            flex-flow : column wrap; 
            
        }
        .circle-wrap{
           margin: 10px auto;
        }
        /* .skills{
            padding-top: 20px;
            /* 
            rgin-top: 25px; */
        /*} */
        .Work{
            margin-top: 25px;
            text-align: center;
        } 
        .portfolio{
            text-align: center;
            padding-right:0px
         }
         .tellus{
            padding: 30px;
         }
        .profil img{
            display: flex;
            position: relative;
             z-index: 1; 
            bottom: 70px;
            align-items: center;
           justify-content: center;
           margin-left: 60px; 
          
        }
        .mygroup{
        padding-top: 0px;
        text-align: center;
       }
       /* .icon-container i{
        padding-left: 12px;
         }  */
      /* .icone{
        padding-top: 20px; 
    }  */
    .skills{
        display: flex;
        justify-content: center;
        padding-top: 120px; 
       padding-left: 0px;
       }
   .groupeParag{
    padding: 25px;
   }
      .Work{
       padding-left: 0px;
   }  
   .timeline-content{
    padding-top: 30px;
   }
   .groupStrong{
    display: flex;
   flex-direction: row;
    }
    } 