@media  screen and (max-width: 780px) {
    .infomation{
       display: flex;
       flex-direction: column;
        width: 100%;
        padding-top: 15px;
        padding-bottom: 15px;
        }
        .groupeParag{
            margin-left: 0;
        }
        .numero{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .rond{
            display: flex;
            align-items: center;
           justify-content: center;
            margin-top: 225px;
          
        } 
        .all{
            display: flex;
            flex-flow : column wrap; 
        }
        .profil img{
            display: flex;
            position: relative;
             z-index: 1; 
            bottom: 70px;
            align-items: center;
           justify-content: center;
           margin-left: 60px; 
          
        }
        .mygroup{
        padding-top: 0px;
        text-align: center;
       }
     .icone{
        padding-top: 0px; 
    }
    .skills{
        padding-top: 100px; 
       padding-left: 0px;
   }
      .Work{
       padding-left: 0px;
   }  
   .groupStrong{
    display: flex;
   flex-direction: row;
    /* justify-content: center; */
   }
    } 